.collectionSwitcher {
    width: 100%;
    text-align: center;
  }
  
  .dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  